.accordion {
	& > summary {
		@apply flex w-full cursor-pointer items-center justify-between gap-2 rounded bg-blue-100 px-4 py-2 text-left font-bold text-blue-900;

		&:hover {
			@apply bg-blue-200;
		}

		&:focus {
			@apply outline-none;
		}

		&:focus-visible {
			@apply ring ring-blue-500 ring-opacity-75;
		}

		&::marker {
			list-style: none;
		}

		&::-webkit-details-marker {
			display: none;
		}

		svg {
			@apply h-6 w-6;
		}
	}

	&[open] {
		& > summary > svg {
			transform: rotate(180deg);
		}
	}

	& > div {
		@apply px-2 py-2;
	}
}
